html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom, #d6ccee, #fff);
}

.button-edit {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    background-color: plum;
    height: 30px;           
}

.button-details {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    background-color: mediumpurple;
    height: 30px;
}

.button-delete {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: purple;
    box-shadow: inset 0 0 0 2px purple;
    background-color: transparent;
    height: 30px;
}

.carousel-div {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

    div.item:nth-of-type(1) {
        --offset: 1;
        background-color: #90f1ef;
    }

    div.item:nth-of-type(2) {
        --offset: 2;
        background-color: #ff70a6;
    }

    div.item:nth-of-type(3) {
        --offset: 3;
        background-color: #ff9770;
    }

    div.item:nth-of-type(4) {
        --offset: 4;
        background-color: #ffd670;
    }

    div.item:nth-of-type(5) {
        --offset: 5;
        background-color: #e9ff70;
    }

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

    input:nth-of-type(1):checked ~ main#carousel {
        --position: 1;
    }

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

    input:nth-of-type(2):checked ~ main#carousel {
        --position: 2;
    }

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

    input:nth-of-type(3):checked ~ main#carousel {
        --position: 3;
    }

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

    input:nth-of-type(4):checked ~ main#carousel {
        --position: 4;
    }

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

    input:nth-of-type(5):checked ~ main#carousel {
        --position: 5;
    }
                           