html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom, #d6ccee, #fff);
}

.button-edit {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    background-color: plum;
    height: 30px;           
}

.button-details {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: #fff;
    background-color: mediumpurple;
    height: 30px;
}

.button-delete {
    display: inline-block;
    outline: none;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    color: purple;
    box-shadow: inset 0 0 0 2px purple;
    background-color: transparent;
    height: 30px;
}
                           