@model PlaylistMVC.Models.SongInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Song Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SongName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
    </dl>
</div>
<div>
    <form style="display:inline">
        <button class="button-edit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</button>
    </form>
    <form style="display:inline">
        <button class="button-details" asp-action="Index">Back to List</button>
    </form>
</div>
